<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>テスト</title>
        <h1 class="text-3xl font-bold underline">
            Hello world!
        </h1>
        

    </head>
    <body>
        <h1>Home</h1>
        <p>Search form</p>
        <form method="get" action="/searchsong/">
            <input type="text" id="query" name="query"/>
            <button>song Search</button>
        </form>
        <form method="get" action="/searchbook/">
            <input type="text" id="query" name="query"/>
            <button>book Search</button>
        </form>
        <a href="/">Go Back</a>

        <div class="bg-white px-10 py-5">
            <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="px-6 py-4 font-medium text-gray-900">bookname</th>
                  <th scope="col" class="px-6 py-4 font-medium text-gray-900">added date</th>
                  <th scope="col" class="px-6 py-4 font-medium text-gray-900">product code</th>
                  <th scope="col" class="px-6 py-4 font-medium text-gray-900">book ID</th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-100 border-t border-gray-100">
                <tr class="hover:bg-gray-50">
                  <th class="px-6 py-4 font-medium text-gray-900">月間エレクトーン</th>
                  <td class="px-6 py-4">20240801</td>
                  <td class="px-6 py-4">GTX00111555</td>
                  <td class="px-6 py-4">1</td>
                </tr>
              </tbody>
            </table>
          </div>


    </body>
</html>