<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>テスト</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='./output.css') }}">
    </head>
    <body>
        <!-- hedder -->
        <nav class="w-full h-14">
            <div class="mx-auto flex max-w-5xl bg-red-200">
              
                <img class="object-cover h-14 w-auto" src="{{ url_for('static',filename='./logo.jpg') }}" alt="image description">
                <h1 class="mx-auto text-3xl font-extrabold p-1">onpoo score manager</h1>
                <img class="object-cover h-14 w-auto scale-150 -rotate-[15deg]" src="{{ url_for('static',filename='./hedd.png') }}" alt="image description">
            </div>
        </nav>
  
        <!-- boddy -->
        <div class="mx-auto max-w-5xl p-10">
        
            <h2 class="text-2xl font-extrabold dark:text-white p-1">{{ que }} : search result</h2>
            <table class="w-full border-collapse bg-white object-center text-left text-sm text-gray-500">
            <thead class="bg-gray-50">
                <tr>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">book name</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">added date</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">product code</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">book ID</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-100 border-t border-gray-100">
                {% for book in books %}
                <tr class="hover:bg-gray-50">
                <th class="px-6 py-4 font-medium text-gray-900"><a href="/book/{{ book.id }}">{{ book.book_name }}</a></th>
                <td class="px-6 py-4">{{ book.created_at }}</td>
                <td class="px-6 py-4">{{ book.product_code }}</td>
                <td class="px-6 py-4">{{ book.id }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
            <a href="/">Go Back</a>
    </body>
</html>